<fs-examples
  title="Transfer"
  githubUrl="https://github.com/Firestitch/fs-transfer"
  npmUrl="https://www.npmjs.com/package/@firestitch/transfer">

  <div fs-examples-install>
    <div class="examples-h3">transfer.handler.ts</div>
    <fs-example-highlight [source]="handlerCode" language="ts"></fs-example-highlight>

    <div class="examples-h3">app.module.ts</div>
    <fs-example-highlight [source]="moduleCode" language="ts"></fs-example-highlight>
  </div>

  <fs-example title="Successful Transfer" componentName="success">
    <success></success>
  </fs-example>

  <fs-example title="Failed Transfer" componentName="failed">
    <failed></failed>
  </fs-example>
</fs-examples>

